@model Master_With_CURD_Operations.Models.Product
@using System.Data;
<style>
    .table {
        text-align: center;
    }
    th, td {
        text-align: center;
    }
</style>


@{
    DataTable dt = (DataTable)ViewData["Data"];
}

@using (Html.BeginForm())
{
    <table class="table" border="1"
        >
        <tr>
            <th>Product ID</th>
            <th>Product Name</th>
            <th>Category ID</th>
        </tr>
        @for(int i=0; i<dt.Rows.Count;i++)
        {
            <tr>
                <td>@dt.Rows[i]["ProductID"]</td>
                <td>@dt.Rows[i]["ProductName"]</td>
                <td>@dt.Rows[i]["CategoryID"]</td>

                <td>
                    <a href="@Url.Action("Delete","Product",new {ProductID = dt.Rows[i]["ProductID"] }))">Delete</a>
                </td>
                <td>
                    <a href="@Url.Action("Update","Product",new {ProductID = dt.Rows[i]["ProductID"], ProductName = dt.Rows[i]["ProductName"], cid = dt.Rows[0]["CategoryID"] })">Edit</a>

                </td>
            </tr>
        }
    </table>
}
    @{ 
        int currentPage = (int)ViewBag.page;
        int totalPages = (int)ViewBag.totalPages;
        int nextPage = currentPage + 1;
        int previousPage = currentPage - 1;
        bool isFirstPage = currentPage == 1;
        bool isLastPage = currentPage == totalPages;
    }

    <div>
        <span>Showing page @currentPage of @totalPages</span>
    </div>

    <div>
        @if (!isFirstPage)
        {
            <a href="@Url.Action("Display","Product",new { currentPage=@previousPage})"><input type="button" value="Previous" /></a>
        }
        @if (!isLastPage)
        {
            <a href="@Url.Action("Display","Product",new { currentPage=@nextPage})"><input type="button" value="Next" /></a>
        }

    </div>


